body {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #6d7c2a;
}


.heading {
    color: #232905;
    padding: 20px;
    outline-style: dotted;
    outline-color: #586320;
    width: auto;
    text-align: center;
    border-radius: 20px;
    background-color: #9db62e;
}

.recipe-name {
    text-align: center;
    color: #cbe653;
    text-decoration: underline 5px;
}

.description {
    color: #232905;
    text-align: center;
    background-color: #667422;
    width: fit-content;
    padding: 0px 20px 0px 20px;
    border-radius: 20px;
    margin: auto;

}

.content {
    color: #cbe653;
    text-align: center;
    background-color: #5c6d1f;
    border-radius: 20px;
    margin: auto;
    width: fit-content;
    padding: 0px 20px 0px 20px;
}

.text-content {
    color: #232905;
    background-color: #91a538;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    padding-left: 40px;
}

/* LINKS  */

a:link {
color: #cbe653;
font-weight: bold;
text-decoration: none;
}

a:hover {
    color: #a9cc0b;
}

a:visited {
    color: #232905;
}

/* BLINKIES  */

.blinkies {
    text-align: center;
    background-color: #91a538;
    border-radius: 20px;
    outline-style: dotted;
    outline-color: #4b5518;
    width: fit-content;
    margin: auto;
}


.homepage {
    margin: auto;
    text-align: center;
}
